<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CyberPulse{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/radar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encoder.css') }}">
    
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/radar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/terminal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/encoder.js') }}"></script>
</body>
</html>
